@model Application.ViewModels.ConsumerInvoicesViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex flex-row">
            <h1>User Info</h1>
        </div>
        <div class="col-md-6 d-flex flex-md-row-reverse">
            <button type="submit" data-bs-toggle="modal" data-bs-target="#provideValues" class="btn btn-primary m-3">Provide indicator values</button>
            @Html.Partial("_UserProvideValues")
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="card">
                <div class="card-header text-center">
                    <i class="bi bi-person" style="font-size: 2rem;"></i>
                </div>
                <div class="card-body" style="background-color: #FAFAFA;">
                    <div class="form-group mb-3">
                        <label for="fullName">Full Name</label>
                        <input type="text" class="form-control" id="fullName" value="@Model.Consumer.ConsumerOwner" disabled>
                    </div>
                    <div class="form-group mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" value="@ViewBag.HouseAddress" disabled>
                    </div>
                    <div class="form-group mb-3">
                        <label for="personalAccount">Personal account number</label>
                        <input type="text" class="form-control" id="personalAccount" value="@Model.Consumer.PersonalAccount" disabled>
                    </div>
                    <div class="form-group mb-3">
                        <label for="heatingArea">Flat heating area</label>
                        <input type="text" class="form-control" id="heatingArea" value="@Model.Consumer.HeatingArea" disabled>
                    </div>
                    <div class="form-group mb-3">
                        <label for="residentsCount">Number of residents</label>
                        <input type="text" class="form-control" id="residentsCount" value="@Model.Consumer.NumberOfPersons" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-12">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-between align-items-center p-2">
                        <div class="w-100">
                            <ul class="nav d-flex justify-content-around" style="background-color: #d7dbdb;">
                                <li id="servicesTab" class="nav-item active-tab border border-dark w-50">
                                    <a class="nav-link text-center text-dark" onclick="showPartialViewServices()">Services</a>
                                </li>
                                <li id="invoicesTab" class="nav-item border border-dark w-50">
                                    <a class="nav-link text-center text-dark" onclick="showPartialViewInvoices()">Invoices</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div id="partialViewServices">
                @Html.Partial("_UserServices")
            </div>

            <div id="partialViewInvoices" style="display: none;">
                @Html.Partial("_UserInvoices")
            </div>
        </div>
    </div>
</div>

<script>
    function showPartialViewServices() {
        document.getElementById("partialViewServices").style.display = "block";
        document.getElementById("partialViewInvoices").style.display = "none";
        document.getElementById("servicesTab").classList.add("active-tab");
        document.getElementById("invoicesTab").classList.remove("active-tab");
    }

    function showPartialViewInvoices() {
        document.getElementById("partialViewServices").style.display = "none";
        document.getElementById("partialViewInvoices").style.display = "block";
        document.getElementById("servicesTab").classList.remove("active-tab");
        document.getElementById("invoicesTab").classList.add("active-tab");
    }
</script>

<style>
    .active-tab {
        background-color: #85b8ff;
        color: #000;
    }
</style>
