@model IEnumerable<Application.Models.Service>
@using System.ComponentModel.DataAnnotations

@{
    ViewData["Title"] = "Index";
    ViewBag.PartialViewName = "_CreateServiceForm";
    ViewBag.ModalTitle = "Create new service";
    ViewBag.UpdateModalTitle = "Update service";
}

@Html.Partial("_TableNavigation")

<h1>Services</h1>

@Html.Partial("_CreateModal")


<div class="table-responsive-sm">
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeOfAccount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.House.HouseAddress)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeOfAccount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.House.HouseAddress)
                        </td>
                        <td>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#updateModal-@item.ServiceId">Edit</button>
                                        <form asp-action="Update" asp-route-id="@item.ServiceId" method="post">
                                            <div class="modal fade" id="updateModal-@item.ServiceId" tabindex="-1" aria-labelledby="updateModalLabel-@item.ServiceId" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="updateModalLabel-@item.ServiceId">@ViewBag.UpdateModalTitle</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group row mt-3">
                                                                            <input type="hidden" name="ServiceId" value="@item.ServiceId" /> <!-- Додавання прихованого поля ServiceId -->
                                                                            <label for="Price" class="col-form-label col-md-6">Ціна</label>
                                                                            <div class="col-md-6">
                                                                                <input type="text" id="Price" class="form-control" name="Price">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col">
                                        <form asp-controller="Consumer" asp-action="Details" asp-route-id="@item.ServiceId" method="get">
                                            <button type="submit" class="btn btn-info w-100">Details</button>
                                        </form>
                                    </div>

                                    <div class="col">
                                            <form method="post" asp-action="Delete" asp-route-id="@item.ServiceId" onsubmit="return confirm('Are you sure you want to delete this consumer?');">
                                            <button type="submit" class="btn btn-danger w-100">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <p>No services found.</p>
            }
        </tbody>
    </table>
</div>