@model IEnumerable<Application.Models.Payment>

@{
    ViewData["Title"] = "Payment";
    ViewBag.PartialViewName = "_CreatePaymentForm";
    ViewBag.ModalTitle = "Create new payment";
}

@Html.Partial("_TableNavigation")

<h1>Payments</h1>

@Html.Partial("_CreateModal")


<div class="table-responsive-sm">
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Consumer.House.HouseAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonalAccount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Consumer.ConsumerOwner)
                
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Consumer.House.HouseAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PersonalAccount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Consumer.ConsumerOwner)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                    </tr>
                }
            }
            else
            {
                    <p>No payments found.</p>
            }
        </tbody>
    </table>
</div>