@model IEnumerable<Application.Models.Consumer>

@{
    ViewData["Title"] = "Index";
    ViewBag.PartialViewName = "_CreateConsumerForm";
    ViewBag.ModalTitle = "Create new consumer";
}

@Html.Partial("_TableNavigation")

<h1>Index</h1>

@Html.Partial("_CreateModal")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonalAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.House.HouseAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumerOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeatingArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPersons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumerEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null & Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonalAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.House.HouseAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsumerOwner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeatingArea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPersons)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsumerEmail)
                    </td>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <form asp-action="Update" asp-route-id="@item.PersonalAccount" method="post">
                                        <button type="submit" class="btn btn-primary w-100">Edit</button>
                                    </form>
                                </div>

                                <div class="col">
                                    <form asp-controller="Consumer" asp-action="Details" asp-route-id="@item.PersonalAccount" method="get">
                                        <button type="submit" class="btn btn-info w-100">Details</button>
                                    </form>
                                </div>

                                <div class="col">
                                    <form method="post" asp-action="Delete" asp-route-id="@item.PersonalAccount" onsubmit="return confirm('Are you sure you want to delete this consumer?');">
                                        <button type="submit" class="btn btn-danger w-100">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>


                </tr>
            }
        }
        else
        {
            <p>No consumers found.</p>
        }
    </tbody>
</table>
