@model IEnumerable<Application.DTOS.MeterInfoDTO>

@{
    ViewData["Title"] = "Index";
    ViewBag.PartialViewName = "_CreateMeterForm";
    ViewBag.ModalTitle = "Add new meter";
}

@Html.Partial("_TableNavigation")

<h1>Meters</h1>

@Html.Partial("_CreateModal")

<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CounterAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentIndicator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MeterId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CounterAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeOfAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentIndicator)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModified)
                    </td>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#updateModal-@item.MeterId">Record</button>
                                    <form asp-action="RegisterRecordByAdmin" asp-route-id="@item.MeterId" method="post">
                                        <div class="modal fade" id="updateModal-@item.MeterId" tabindex="-1" aria-labelledby="updateModalLabel-@item.MeterId" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="updateModalLabel-@item.MeterId">Add new record</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group row mt-3">
                                                                        <label for="date" class="col-form-label col-md-6">Дата показника</label>
                                                                        <div class="col-md-6">
                                                                            <input type="date"
                                                                                   class="date"
                                                                                   name="date"
                                                                                   id="date" />
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group row mt-3">
                                                                        <label for="indicator" class="col-form-label col-md-6">Показник</label>
                                                                        <div class="col-md-6">
                                                                            <input type="number" id="indicator" class="form-control" name="indicator">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col">
                                    <form asp-controller="Consumer" asp-action="Details" asp-route-id="@item.MeterId" method="get">
                                        <button type="submit" class="btn btn-info w-100">Details</button>
                                    </form>
                                </div>

                                <div class="col">
                                    <form method="post" asp-action="Delete" asp-route-id="@item.MeterId" onsubmit="return confirm('Are you sure you want to delete this counter and all of its records?');">
                                        <button type="submit" class="btn btn-danger w-100">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>


                </tr>
            }
        }
        else
        {
            <p>No meters found.</p>
        }
    </tbody>
</table>